# Python build + cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/
.venv/

# IDE / Editor configs
.idea/
.vscode/
.DS_Store

# Secrets
apikeys.py
.env

# OS / Misc
*.bak
*.tmp

# Cron
cron.txt

# VM Auto Update
update_vm.sh